*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    
}

#cabecalho{
  display: flex;
  justify-content: space-between;

  h1{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
  }

=======
}

#cabecalho{
    background-color: aquamarine;
    height: 190px;
>>>>>>> 7b437d9ba520a2ab22f1417b03e772dd0841151a
}